@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #00B0FF;
    --gray: #6B7280;
    --off-blue: #EEF2FF;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

.space {
    padding-bottom: 1rem;
}

hr {
    margin: 1.5rem 0rem;
}
/* containers */

.container {
    padding-right: 1rem;
    padding-left: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/* links */

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.6rem;
}

.link-secondary {
    color: var(--primary-color);
    border: solid;
    border-width: 1px;
    border-color: var(--primary-color);
    border-radius: 0.6rem;
}

/* Lists */

.non-bullet {
    list-style: none;
}

.list-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/* nav */

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .link {
    color: white;
}

.nav-brand {
    font-weight: bold;
    font-size: large;
}

.nav-pills {
    text-align: right;
}

.navigation .active {
    font-weight: bold;
}

.margin-md {
    margin-top: 2rem !important;
}


/* hero/header section */

.hero {
    padding: 2rem;
    margin-top: 1rem;
}

.hero-img {
    width: 350px;
    max-width: 100%;
    margin: auto;
    display: block;
}

.hero .hero-heading {
    padding-top: 1rem;
    color: var(--gray);
    text-align: center;
}

/* sections */

.section {
    padding: 2rem 2rem;
}

.section h1{
    text-align: center;
}

.ow {
    background-color: var(--off-blue);
}

/* footer */

.footer {
    padding: 2rem 0rem;
    background-color: var(--primary-color);
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}
.footer .footer-heading {
    font-size: large;
    font-weight: bold;
}
.footer .link {
    color: white;
}
.footer .non-bullet {
    padding-inline-start: 0px;
}

@media only screen and (max-width: 383px ) {
    .nav-pills {
        padding-left: 20px;
    }
    .footer .link {
        padding: 0.2rem;
    }
}
@media only screen and (max-width: 361px ) {
    .nav-pills {
        padding-left: 12px;
    }
    .footer .link {
        padding: 0.1rem;
    }
}

@media only screen and (max-width: 361px ) {
    .nav-pills {
        padding-left: 0px;
    }
    .footer .link {
        padding: 0rem;
    }
}